.main {
    width: 100%;
    background-color: var(--main-background);
}
.view {
    margin-left: 286px;
}
.content {
    // min-height: 1000px;
    background-color: #121212;
}
.wrap-content {
    padding-top: 64px;
}
