.nav {
    height: 48px;
}
.title {
    h2 {
        font-size: 2.4rem;
        line-height: 2.8rem;
        color: var(--white-color);
        margin-bottom: 16px;
    }
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px 36px;
}
.col-top {
    width: 40%;
    padding: 0 12px;
}
.wrap-top {
    background-color: #181818;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.top-img {
    width: 92px;
    height: 92px;
    img {
        border-radius: 4px;
    }
}
.top-info {
    margin-bottom: 20px;
    h2 {
        font-size: 3.2rem;
        line-height: 4rem;
        color: var(--white-color);
        padding-bottom: 4px;
    }
    p {
        font-size: 1.4rem;
        color: var(--text-color);
        line-height: 1.8rem;
    }
}
.col-songs {
    width: 60%;
    padding: 0 12px;
}

//song
.song {
    border: 1px solid transparent;
    padding: 0 16px;
    border-radius: 4px;
    &:hover {
        background-color: rgb(255 255 255 / 10%);
    }
    &:hover .song-img img {
        filter: brightness(0.7);
    }
    &:hover .song-img .play-btn-sm {
        display: flex;
    }
    &:hover button {
        visibility: unset;
    }
}
.wrap-song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    height: 56px;
    position: relative;
}
.left {
    display: flex;
    align-items: center;
    margin-left: -8px;
}
.right {
    margin-right: -8px;
}
.song-img {
    width: 40px;
    height: 40px;
    position: relative;
    .play-btn-sm {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--white-color);
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
}
.song-info {
    margin-left: 16px;
    h5 {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 400;
        color: var(--white-color);
    }
    .isplaying {
        color: var(--active-color-text);
    }
    p {
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: var(--text-color);
    }
}

.warning {
    padding: 280px 0 0;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 76px;
    h1 {
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
    p {
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 10px 0 30px;
    }
}

.footer {
    padding-bottom: 40px;
    .line {
        height: 1px;
        margin-bottom: 120px;
        background-color: rgba(255, 255, 255, 0.1);
    }
}
