.wrapper {
    margin-bottom: 36px;
}
.title {
    h1 {
        font-size: 2.4rem;
        line-height: 2.8rem;
        color: var(--white-color);
        margin-bottom: 16px;
        padding-bottom: 10px;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}
.col {
    width: 20%;
    padding: 0 12px;
    margin-bottom: 16px;
}
